body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a5afb0;
    
}
.common {
    /* background-color: #ffffff; */
    border: 2px solid #a5afb0;
    position: absolute;
}
.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 150px;
    border-bottom: solid 1px #555555;

}
.leftmenu{
    top: 164px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 20px;
    border-right: solid 1px #555555;
}
.mainbody{
    top: 164px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
}
.rightmenu{
    top: 164px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px #555555;
    padding-left: 5px;
}
.footer{
    left: 5px;
    right: 5px;
    height: 25px;
    bottom: 5px;
    font-size: 8px
    color#999999;
    text-align: center;
    padding-top: 15px;
    z-index: 2;
    position: fixed;

}
.subheader{
    float: right;
}