body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(102, 156, 178);
    background-color: rgb(174, 224, 243);
}
li {
    font-style: italic;
    font-size: 14px;
    color: coral;
    font-weight: lighter;
}
a {
    color: coral;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
a:visited {
    color: coral;
}
.headings {
    font-weight: bolder;
    font-style: normal;
}
.underline {
    text-decoration: underline;
}
.justify{
    text-align: justify;
}
.homebg {
    background-image: url(../Images/LES\ Background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box1{
    border-width: 1px;
    border-style: solid;
    border-color: aquamarine;
}
.box2 {
    padding: 5px;

}
.box3{
    margin: 30px;
}